<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li class=list><%= link_to task.title, task_path(task) %>
    <%= link_to "ðŸ—‘ï¸",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </li>
  <% end %>
</ul>


<%= link_to 'Create a new task', new_task_path %>
